.card.card-statistic-1 .card-header,
.card.card-statistic-2 .card-header {
    border-color: transparent;
    padding-bottom: 0;
    height: auto;
    min-height: auto;
    display: block;
}
.card.card-statistic-1 .card-header h4,
.card.card-statistic-2 .card-header h4 {
    line-height: 1.2;
    color: #98a6ad;
}
.card.card-statistic-1 .card-body,
.card.card-statistic-2 .card-body {
    padding-top: 0;
}
.card.card-statistic-1 .card-body,
.card.card-statistic-2 .card-body {
    font-size: 26px;
    font-weight: 700;
    color: #34395e;
    padding-bottom: 0;
}
.card.card-statistic-1,
.card.card-statistic-2 {
    display: inline-block;
    width: 100%;
}
.card.card-statistic-1 .card-icon,
.card.card-statistic-2 .card-icon {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 3px;
    line-height: 94px;
    text-align: center;
    float: left;
    margin-right: 15px;
}
.card.card-statistic-1 .card-icon .ion,
.card.card-statistic-1 .card-icon .fas,
.card.card-statistic-1 .card-icon .far,
.card.card-statistic-1 .card-icon .fab,
.card.card-statistic-1 .card-icon .fal,
.card.card-statistic-2 .card-icon .ion,
.card.card-statistic-2 .card-icon .fas,
.card.card-statistic-2 .card-icon .far,
.card.card-statistic-2 .card-icon .fab,
.card.card-statistic-2 .card-icon .fal {
    font-size: 22px;
    color: #fff;
}
.card.card-statistic-1 .card-icon {
    line-height: 90px;
}
.card.card-statistic-2 .card-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    margin: 25px;
}
.card.card-statistic-1 .card-header,
.card.card-statistic-2 .card-header {
    padding-bottom: 0;
    padding-top: 25px;
}
.card.card-statistic-2 .card-body {
    padding-top: 20px;
}
.card.card-statistic-2 .card-header + .card-body,
.card.card-statistic-2 .card-body + .card-header {
    padding-top: 0;
}
.card.card-statistic-1 .card-header h4,
.card.card-statistic-2 .card-header h4 {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.5px;
}
.card.card-statistic-1 .card-header h4 {
    margin-bottom: 0;
}
.card.card-statistic-2 .card-header h4 {
    text-transform: none;
    margin-bottom: 0;
}
.card.card-statistic-1 .card-body {
    font-size: 20px;
}
.card.card-statistic-2 .card-chart {
    padding-top: 20px;
    margin-left: -9px;
    margin-right: -1px;
    margin-bottom: -15px;
}
.card.card-statistic-2 .card-chart canvas {
    height: 90px !important;